@model Dotnet_frameworks_project.Models.Insurance
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Details of the insurance"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @Localizer["Adres"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
           @Localizer["Phone"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
<h2>@Localizer["Member of the insurance:"]</h2>

        <table class="striped highlight centered responsive-table" >
        <thead>
          <tr>
              <th>@Localizer["Firstname"]</th>
              <th>@Localizer["Lastname"]</th>
             
          </tr>
        </thead>

        <tbody>
            @{

        foreach(var patient in ViewBag.Patients)
        {
          <tr>
            <td>@patient.FirstName</td>
            <td>@patient.LastName</td>
          </tr>
        }

 }

        </tbody>
      </table>




<p></p>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Name">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
