@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Sources"]</h1>

<p>@Localizer["Here come all the sources used to create the website"]</p>


    <table  class="striped">
        <thead>
          <tr>
              <th>@Localizer["Name"]</th>
              <th>@Localizer["Link"]</th>
              <th>@Localizer["Description"]</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Materialize designs</td>
            <td><a href="https://materializecss.com/getting-started.html">Material design</a></td>
            <td>de material design van google voor het stylen van de website en de documentatie</td>
          </tr>

        </tbody>
      </table>