@model IEnumerable<Dotnet_frameworks_project.Models.FollowUp_patients>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["List of all followed patients"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
              @Localizer["Type of follow-up"]
            </th>
            <th>
               @Localizer["Patient"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                <a class="waves-effect waves-light btn-small" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> 
                <a  class="waves-effect waves-light btn-small"asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> 
                <a class="waves-effect waves-light btn-small" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
   
<a class="btn-floating btn-large waves-effect waves-light red"  asp-action="Create"><i class="material-icons">add</i></a>
</p>


