@model IEnumerable<Dotnet_frameworks_project.Models.PassedTests>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["All passed tests"]</h1>

@*<p>
    <a asp-action="Create">@Localizer["Create a new passed test"]</a>
</p>*@
<table class="striped highlight centered responsive-table">
    <thead>
        <tr>
            <th>
               @Localizer["Patient"]
            </th>
            <th>
               @Localizer["Testname"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                <a class="waves-effect waves-light btn" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> 
                <a class="waves-effect waves-light btn" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> 
                <a class="waves-effect waves-light btn" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
   
<a class="btn-floating btn-large waves-effect waves-light red"  asp-action="Create"><i style="background-color:green;" class="material-icons">add</i></a>
</p>


