@model FollowUpTypeIndexViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["list of follow-up types"]</h1>
<p>
 <form asp-controller="FollowUp_type" asp-action="Index" method="get">
        <small>@Localizer["Search for a Name "]</small> <input type="text" name="nameFilter"/>
              
  <button class="waves-effect waves-light btn-small" type="submit" name="action">@Localizer["Search"]
    
  </button>
    </form>

</p>

<table class="striped highlight centered responsive-table">
    <thead>
        <tr>
             <th>
               
                 <a asp-action="Index" asp-route-orderBy="@ViewBag.NameField">@Localizer["Name"]</a>
            </th>
            <th>
               @Localizer["Description"]
            </th>
            <th>
               @Localizer["Required sessions"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.followUp_Types) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_requiredsessions)
            </td>
            <td>
                <a class="waves-effect waves-light btn-small" asp-action="Edit" asp-route-id="@item.Name">@Localizer["Edit"]</a> 
                <a  class="waves-effect waves-light btn-small"asp-action="Details" asp-route-id="@item.Name">@Localizer["Details"]</a> 
                <a  class="waves-effect waves-light btn-small"asp-action="Delete" asp-route-id="@item.Name">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
   
<a class="btn-floating btn-large waves-effect waves-light red"  asp-action="Create"><i style="background-color:green;" class="material-icons">add</i></a>
</p>


