@model ApplicationUserViewModel

@using Dotnet_frameworks_project.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer;



@{
    ViewData["Title"] = Localizer["Change Roles"];
}

<h2>@Model.UserName: @Localizer["Change Roles"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Roles" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">@Localizer["Username"]
                <input class="filled-in" asp-for="UserName" class="form-control" asp-items="ViewBag.GroupId" disabled></input>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Firstname"]</label>
                <input class="filled-in" asp-for="FirstName" class="form-control" asp-items="ViewBag.UserId" disabled></input>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Lastname"]</label>
                <input class="filled-in" asp-for="LastName" class="form-control" disabled/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Therapist"]
                <input hidden class="filled-in" type="checkbox" asp-for="@Model.Logopedist" />
                <span asp-validation-for="Logopedist" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Parent"]
                <input hidden class="filled-in" type="checkbox" asp-for="@Model.Parents" />
                <span asp-validation-for="Parents" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Insurancer"]
                <input hidden class="filled-in" type="checkbox" asp-for="@Model.Mutualiteit" />
                <span asp-validation-for="Mutualiteit" class="text-danger"></span>
                </label>
            </div>
                <div class="form-group">
                <label class="control-label">@Localizer["Admin"]
                <input hidden class="filled-in" type="checkbox" asp-for="@Model.Admin" />
                <span asp-validation-for="Admin" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}