@using Microsoft.AspNetCore.Mvc.Localization
          <link rel="stylesheet" href="~/css/materialize.css" asp-append-version="true" />
         <link rel="stylesheet" href="~/css/materialize.min.css" asp-append-version="true" />
  <link href="https://cdnjtopflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               <script src="~/js/site.js" asp-append-version="true"></script>

@inject IViewLocalizer Localizer

  <ul id="slide-out" class="sidenav">
    <li>
     @* <div class="background">
    <i class="large material-icons">account_circle</i>
      </div>*@
    </li>
     <li><div style="margin-top:20%;" class="divider"></div></li>
    <li><a class="subheader">@Localizer["Account options"]</a></li>
    
     <i style="text-align:center"><partial name="_LoginPartial" /></i>
      <li><div class="divider"></div></li>
    <li><a class="subheader">@Localizer["Language options"]</a></li>
    <i style="text-align:center"><partial name="_LanguagePartial" /></i>
    <li><div class="divider"></div></li>

   

    @if(User.IsInRole("Admin"))
    {
            <li><a class="subheader">@Localizer["Roles management"]</a></li>
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">@Localizer["Roles management"]</a>
             <li><div class="divider"></div></li>
    }

    <li><a class="subheader">@Localizer["Navigation"]</a></li>
    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
     <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Sources"]</a></li>
      <li><div class="divider"></div></li>

    @if (User.IsInRole("Logopedist") || User.IsInRole("Admin"))
    {
         <li><a class="subheader">@Localizer["Patients management"]</a></li>
         <li><a class="waves-effect" asp-area="" asp-controller="Patients" asp-action="Index">@Localizer["View all patients"]</a></li>
                  <li><a class="waves-effect" asp-area="" asp-controller="FollowUp_patients" asp-action="Index">@Localizer["Follow a new patient"]</a></li>
             <li><a class="waves-effect" asp-area="" asp-controller="FollowUp_type" asp-action="Index">@Localizer["Follow up management"]</a></li>
                   <li><div class="divider"></div></li>
    <li><a class="subheader">@Localizer["Tests management"]</a></li>
                 <li><a class="waves-effect" asp-area="" asp-controller="Tests" asp-action="Index">@Localizer["Tests"]</a></li>
                 <li><a class="waves-effect" asp-area="" asp-controller="PassedTests" asp-action="Index">@Localizer["Add a passed test"]</a></li>
                                 <li><div class="divider"></div></li>
    <li><a class="subheader">@Localizer["Insurance management"]</a></li>
                     <li><a class="waves-effect" asp-area="" asp-controller="Insurances" asp-action="Index">@Localizer["Add an insurance"]</a></li>
    }
 
   
   

  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="font-size:50px; margin-left:1.2%; margin-top:1.2%;">menu</i></a>
