@model Dotnet_frameworks_project.Models.Test
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["Are you sure you want to delete this?"]</h3>
<div>
    <h4>@Localizer["Test"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Usage"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usage)
        </dd>
        <dt class = "col-sm-2">
           @Localizer["Minimal age"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min_age)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Maximal age"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_age)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Name" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </form>
</div>
