@model IEnumerable<Dotnet_frameworks_project.Models.Test>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["All tests"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create a new test"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @Localizer["Name"]   
            </th>
            <th>
              @Localizer["Description"] 
            </th>
            <th>
              @Localizer["Usage"]  
            </th>
            <th>
               @Localizer["Minimal age"] 
            </th>
            <th>
               @Localizer["Maximal age"] 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Name">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
