@model Dotnet_frameworks_project.Models.Patient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentsPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentsPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftSessions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftSessions)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Id)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h3>Followed for</h3>


    <table class="striped highlight centered responsive-table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>required sessions</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var Follow in ViewBag.ListOfFollowUps)
                {
                    <tr>
                        <td>@Follow.p.FollowUpId</td>
                        <td>@Follow.t.Description</td>
                        <td>@Follow.t.Number_of_requiredsessions</td>

                    </tr>
                }

            }
        </tbody>
    </table>



<h3>Passed Tests</h3>

        <table class="striped highlight centered responsive-table" >
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Usage</th>
             
          </tr>
        </thead>

        <tbody>
            @{

        foreach(var Test in ViewBag.ListOfPassedTests)
        {
          <tr>
            <td>@Test.p.TestId</td>
            <td>@Test.t.Description</td>
            <td>@Test.t.Usage</td>
          </tr>
        }

 }
        </tbody>
      </table>

