@*@model Dotnet_frameworks_project.Models.Patient*@
@model Dotnet_frameworks_project.Models.PatientViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Patients"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentsPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentsPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftSessions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftSessions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Id)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h3 class="center-align">Followed for</h3>


    <table class="striped highlight centered responsive-table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>required sessions</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var Follow in ViewBag.ListOfFollowUps)
                {
                    <tr>
                        <td>@Follow.p.FollowUpId</td>
                        <td>@Follow.t.Description</td>
                        <td>@Follow.t.Number_of_requiredsessions</td>

                    </tr>
                }

            }
        </tbody>
    </table>



<h3 class="center-align">Passed Tests</h3>

        <table class="striped highlight centered responsive-table" >
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Usage</th>
             
          </tr>
        </thead>

        <tbody>
            @{

        foreach(var Test in ViewBag.ListOfPassedTests)
        {
          <tr>
            <td>@Test.p.TestId</td>
            <td>@Test.t.Description</td>
            <td>@Test.t.Usage</td>
          </tr>
        }

 }
        </tbody>
      </table>
<div class="row center-align"  style="width:30%;">
<h3 class="center-align">Session manager</h3>
    <div class="col-md-4 card-panel hoverable center-align" style="width:100%;">
        <form asp-action="details">
            <div asp-validation-summary="ModelOnly" class="text-danger hiddendiv"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group hiddendiv">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group hiddendiv">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group hiddendiv">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
               <div class="form-group hiddendiv">
                <label asp-for="GenderId" class="control-label"></label>
                <input asp-for="GenderId" class="form-control" />
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group hiddendiv">
                <label asp-for="ParentsPhone" class="control-label"></label>
                <input asp-for="ParentsPhone" class="form-control" />
                <span asp-validation-for="ParentsPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftSessions" class="control-label"></label>
                <input asp-for="LeftSessions" class="form-control" disabled/>
                <span asp-validation-for="LeftSessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Add sessions</label>
                <input asp-for="@Model.AddSessions" class="form-control" />
                <span asp-validation-for="AddSessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Remove sessions</label>
                <input asp-for="@Model.RemoveSessions" class="form-control" />
                <span asp-validation-for="RemoveSessions" class="text-danger"></span>
            </div>
            <div class="form-group hiddendiv">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
                <div class="form-group hiddendiv">
                <label asp-for="InsuranceId" class="control-label"></label>
                <select asp-for="InsuranceId" class ="form-control" asp-items="ViewBag.InsuranceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
