@model Dotnet_frameworks_project.Models.Patient
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Patients"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@Localizer["Firstname"]</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@Localizer["Lastname"]</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">@Localizer["Birthday"]</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="GenderId" class="control-label">@Localizer["Gender"]</label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentsPhone" class="control-label">@Localizer["Phone"]</label>
                <input asp-for="ParentsPhone" class="form-control" />
                <span asp-validation-for="ParentsPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftSessions" class="control-label">@Localizer["Left sessions"]</label>
                <input asp-for="LeftSessions" class="form-control" />
                <span asp-validation-for="LeftSessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">@Localizer["Therapist"]</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="InsuranceId" class="control-label">@Localizer["Insurance"]</label>
                <select asp-for="InsuranceId" class ="form-control" asp-items="ViewBag.InsuranceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
