@model PatientIndexViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
 <form asp-controller="Patients" asp-action="Index" method="get">
        <small>Search Name or lastname </small> <input type="text" name="nameFilter"/>
         
   @*        <div class="input-field col s12">
    <select  name="genderfilter" asp-items="@ViewBag.genderId">
      <option value="" disabled selected>Choose your option</option>
      <option value="">All</option>
    </select>
    
  </div>*@
        
  <button class="waves-effect waves-light btn-small" type="submit" name="action">Submit
    
  </button>
    </form>

<form asp-controller="Patients" asp-action="Index" method="get"> 
   <div class="input-field col s3">
          
    <small>Gender:</small> 
    <select  name="genderfilter" asp-items="@ViewBag.genderId" class="">
       <option value="" disabled="disabled" selected="selected">Choose your option</option>
      <option value="">All</option>
    </select>
      </div>    
      
  <button class="waves-effect waves-light btn-small" type="submit" name="action">
      Search gender
  </button>
</form>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                   <a asp-action="Index" asp-route-orderBy="@ViewBag.NameField">@Html.DisplayNameFor(model => model.FilteredStudents[0].FirstName)</a>
            </th>
            <th>
                  <a asp-action="Index" asp-route-orderBy="@ViewBag.LastName">@Html.DisplayNameFor(model => model.FilteredStudents[0].LastName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="@ViewBag.BirthDay">@Html.DisplayNameFor(model => model.FilteredStudents[0].Birthday)</a>
            </th>
             <th>
                @Html.DisplayNameFor(model => model.FilteredStudents[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredStudents[0].ParentsPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredStudents[0].LeftSessions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredStudents[0].user)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.FilteredStudents[0].Insurance)
            </th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.FilteredStudents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentsPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftSessions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script defer>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
<p>
   
<a class="btn-floating btn-large waves-effect waves-light red"  asp-action="Create"><i class="material-icons">add</i></a>
</p>

