@using Microsoft.AspNetCore.Mvc.Localization
@model PatientIndexViewModel;
@inject IViewLocalizer Localizer

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["All patients"]</h1>
<p>
 <form asp-controller="Patients" asp-action="Index" method="get">
        <small>@Localizer["Search for a Name or lastname"]</small> <input type="text" name="nameFilter"/>
         

        
  <button class="waves-effect waves-light btn-small" type="submit" name="action">@Localizer["Search"]
    
  </button>
    </form>

<form asp-controller="Patients" asp-action="Index" method="get"> 
   <div class="input-field col s3">
          
    <small>@Localizer["Gender"]</small> 
    <select  name="genderfilter" asp-items="@ViewBag.genderId" class="">
       <option value="" disabled="disabled" selected="selected">@Localizer["Choose your option"]</option>
      <option value="">@Localizer["All"]</option>
    </select>
      </div>    
      
  <button class="waves-effect waves-light btn-small" type="submit" name="action">
      @Localizer["Search gender"]
  </button>
</form>

</p>

<table class="striped highlight centered responsive-table">
    <thead>
        <tr>
            <th>
                   <a asp-action="Index" asp-route-orderBy="@ViewBag.NameField">@Localizer["Firstname"]</a>
            </th>
            <th>
                  <a asp-action="Index" asp-route-orderBy="@ViewBag.LastName">@Localizer["Lastname"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="@ViewBag.BirthDay">@Localizer["Birthday"]</a>
            </th>
             <th>
              @Localizer["Gender"]
            </th>
            <th>
              @Localizer["Phone"]
            </th>
            <th>
              @Localizer["Left sessions"]
            </th>
            <th>
              @Localizer["Therapist"]
            </th>
               <th>
                @Localizer["Insurance"]
            </th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.FilteredStudents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentsPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftSessions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance.Name)
            </td>
            <td>
                <a style="text-decoration:none;" class="waves-effect waves-light btn-small" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> 
                <a class="waves-effect waves-light btn-small" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> 
                <a class="waves-effect waves-light btn-small" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script defer>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
<p>
   
<a class="btn-floating btn-large waves-effect waves-light red"  asp-action="Create"><i style="background-color:green;" class="material-icons">add</i></a>
</p>

